// .footer {
//     background-color: var(--back-color);
//     padding-top: 60px;
//     padding-bottom: 60px;
//         &-wrap {
//                 display: flex;
//                 align-items: baseline;
//             }
// }

// .address__list {
//     font-style: normal;
//     @include font(14px, 400, 1.71);
//     letter-spacing: 0.03em;
// }

// .address__item:not(:last-child) {
//     margin-bottom: 9px;
// }

// .address__link {
//     color: var(--light-transparent-color);
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     &:hover, &:focus {
//             color: var(--accent-color);
//         }
//     &--white {
//             color: var(--white-color);
//         }
// }

// .join {
//     max-width: fit-content;
//     margin-left: 70px;
//     margin-right: 88px;
//     &__list-social {
//             @include flex-aline;
//             margin-top: 20px;
//         }
//     &__text {
//             @include font;
//             letter-spacing: 0.03em;
//             text-align: left;
//             text-transform: uppercase;
//             color: var(--white-color);
//         }
// }

// .join__social-item:not(:last-child) {
//     margin-right: 10px;
// }

// .join__social-link {
//     @include flex-aline;
//     width: 44px;
//     height: 44px;
//     border: 0;
//     border-radius: 50%;
//     background-color: rgba(255, 255, 255, 0.1);
//     color: var(--white-color);
//     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     &:hover, &:focus {
//             background-color: var(--accent-color);
//         }
// }
// .join__social-icon {
//     fill: currentColor;
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     .join__social-link:hover &,
//     .join__social-link:focus & {
//         color: var(--white-color);
//         }
// }

.footer {
background-color: var(--back-color);
padding-top: 60px;
padding-bottom: 60px;
text-align: center;
}
 
.footer-wrap__top-part {
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px){
        margin-bottom: 60px;
    }
}

@media screen and (min-width: 1200px) {
    .footer-wrap {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        &__logo-address {
            margin-right: 70px;
            text-align: start;
        }
    }
}

     
.address {
    @media screen and (max-width: 767px) {
        margin-bottom: 60px;
    }
}

.address__list {
font-style: normal;
@include font(14px, 400, 1.71);
letter-spacing: 0.03em;
}

.address__item:not(:last-child) {
        margin-bottom: 8px;
}

.address__link {
color: var(--light-transparent-color);
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
        color: var(--accent-color);
    }
    &--white {
        color: var(--white-color);
    }
}

.join {
margin-bottom: 60px;
    &__list-social {
        @include flex-aline;
        margin-top: 20px;
    }
    &__text {
        @include font;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--white-color);
    }
    &__social-item:not(:last-child) {
            margin-right: 10px;
        }
    @media screen and (min-width: 768px) {
        margin-bottom: 0;
        padding-top: 8px;
    }
    @media screen and (min-width: 1200px) {
        // margin-right: 92px    
    }
}

.join__social-link {
@include flex-aline;
width: 44px;
height: 44px;
border: 0;
border-radius: 50%;
background-color: rgba(255, 255, 255, 0.1);
color: var(--white-color);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
        background-color: var(--accent-color);
    }
}

.join__social-icon {
fill: currentColor;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .join__social-link:hover &,
    .join__social-link:focus & {
            color: var(--white-color);
    }
}
