// .hero {
//     background-color: var(--back-color);
//     padding-top: 200px;
//     padding-bottom: 200px;
//     text-align: center;
//     background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//         url('../images/Img-background.jpg');
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: cover;
//     max-width: 1600px;
//     margin-left: auto;
//     margin-right: auto;
//     &__title {
//         @include font(44px, 900, 1.36);
//         letter-spacing: 0.06em;
//         text-transform: uppercase;
//         color: var(--white-color);
//         margin-bottom: 30px;
//         }
// }

.indent {
    display: block;
}

.hero {
    background-color: var(--back-color);
    padding-top: 118px;
    padding-bottom: 118px;
    @media screen and (min-width: 1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
    }
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/Img-background-mob.jpg');
    @include retina {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url('../images/Img-background-mob-2x.jpg');
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url('../images/Img-background-tab.jpg');
        @include retina {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                    url('../images/Img-background-tab-2x.jpg');
        }
    }
    @media screen and (min-width: 1200px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url('../images/Img-background.jpg');
        @include retina {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                    url('../images/Img-background-2x.jpg');
        }
    }
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;

    &__title {
        @include font(26px, 900, 1.62);
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--white-color);
        margin-bottom: 30px;
        @media screen and (min-width: 1200px) {
            @include font(44px, 900, 1.36);
        }
    }

}