:root {
    --logo-font-family: 'Raleway', sans-serif;
    --primary-font-family: 'Roboto', sans-serif;

    --back-color: #2f303a;
    --secondary-bg-color: #f5f4fa;

    --accent-color: #2196f3;
    --hover-btn-color: #188ce8;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --white-color: #ffffff;
    --black-color: #000000;
    --border-color: #eeeeee;
    --input-border-color: rgba(255, 255, 255, 0.3);
    --line-color: #ececec;
    --border-color-icon: #afb1b8;
    --light-transparent-color: #ffffff99;
}